<html>
    <head>
        <style>
            table, th, td, tr {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <h2>Sensor data from CMU sensor repository {{title}}</h2>
        <table class="question">
            <tr>
                <td>The time</td>
                <td>Device id</td>
                <td>Location</td>
                <td>Value</td>
            </tr>
            {% for d in data: %}
            <tr>
            	<td>{{d['timestamp']}}</td>
            	<td>{{d['device_id']}}</td>
                <td>{{d['location']}}</td>
                <td>{{d['value']}}</td>
        	</tr>
            {% endfor %}
        </table>

        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/jquery-ui.min.js"></script>
        <script>
            $(function(){
                
            });

        </script>
    </body>
</html>