<html>
    <head>
        <style>
            table, th, td, tr {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <h2>Feedback_data</h2>
        <p>See the data from 2013/7/1 to now</p>
        <table style="border:1px solid black;">
            <tr> 
                <td>The time</td>
                <td>Number of feedbacks</td>
            </tr>
            {% for feedback in usage: %}
            <tr>
            	<td>{{feedback.time}}</td>
            	<td>{{feedback.number}}</td>
        	</tr>
            {% endfor %}
        </table>
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/jquery-ui.min.js"></script>
        <script>
            $(function(){
                
            });

        </script>
    </body>
</html>