<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SweetFeedback in NASA 23 building</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style2.css" rel="stylesheet">

    <!--<link href="assets/css/docs.css" rel="stylesheet">-->
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.png">
    <style type="text/css">
        #footer {
            height: 20px;
        }
        body {
            height:100%;
            background-color: #f1f1f1;
            background-image: url('/static/img/others/retina_dust.png');
            background-repeat:repeat repeat;
            font-size: 16px;     
            padding-top: 20px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
        #wrap {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            /* Negative indent footer by its height */
            margin: 0 auto -20px;
            /* Pad bottom by footer height */
            padding: 0 0 20px;
        }
    </style>
</head>
<body>
<div id="wrap" style="margin-left:100px;margin-right:100px;">
    <div class="navbar">
        <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SweetFeedback</a>
            <div class="nav-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Save Energy</a></li>
                    <li><a href="/questionnaire">Questionnaire</a></li>
                    <li><a href="/transportation">Transportation</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li><img src="/static/img/cmu-sv-logo.png"></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    
        <!-- Modal -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button id="doit" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div id="carousel-example-generic" class="carousel slide" data-interval="false">
          <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <canvas id="canvas1" width="1007" height="646"></canvas>
                </div>
                <div class="item">
                    <canvas id="canvas2" width="1007" height="646"></canvas>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </div>


        <div class="tabable">
            <div class="tab-content">
                <div class="tab-pane active" id="apps-1">            
                    <br/>
                </div>
            </div>
        </div>
    </div> <!-- /container -->

    <div id="footer">
        <div class="container" style="max-width:600px;">
            <p class="text-muted credit" >Sweet Building Greeter is made by Louis Yu, Ken Liang, and Ted Selker</p>
        </div>
    </div> <!-- /footer -->

</div> <!-- /wrap -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<!--<script src="assets/js/jquery.cookie.js"></script>-->

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA3ieESIwbYV6OZC14fivVKoOSYvApTlh0&sensor=true&libraries=geometry"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>

<script>
    var roomCoordinates = {
        'B23.104': {x: 380, y: 560, floor: 1},
        'B23.105B': {x: 350, y: 560, floor: 1},
        'B23.107': {x: 250, y: 570, floor: 1},
        'B23.109': {x: 180, y: 530, floor: 1},
        'B23.110': {x: 180, y: 450, floor: 1},
        'B23.114': {x: 160, y: 300, floor: 1}, 
        'B23.115': {x: 200, y: 300, floor: 1}, 
        'B23.116': {x: 250, y: 300, floor: 1},
        'B23.120': {x: 730, y: 560, floor: 1},
        'B23.122': {x: 690, y: 560, floor: 1},
        'B23.123': {x: 380, y: 470, floor: 1},
        'B23.124': {x: 650, y: 560, floor: 1},
        'B23.126': {x: 600, y: 560, floor: 1},
        'B23.129A': {x: 540, y: 340, floor: 1},
        'B23.210': {x: 220, y: 570, floor: 2},
        'B23.211': {x: 150, y: 400, floor: 2},
        'B23.212': {x: 150, y: 550, floor: 2},
        'B23.213': {x: 880, y: 550, floor: 2},
        'B23.214': {x: 890, y: 500, floor: 2},
        'B23.214B': {x: 885, y: 475, floor: 2},
        'B23.215': {x: 890, y: 390, floor: 2},
        'B23.215B': {x: 890, y: 410, floor: 2},
        'B23.216': {x: 770, y: 540, floor: 2},
        'B23.217A': {x: 770, y: 370, floor: 2},
        'B23.217B': {x: 770, y: 410, floor: 2},
        'B23.228': {x: 550, y: 180, floor: 2},
        'B23.229': {},
        'B23.230': {x: 450, y: 180, floor: 2},
        'B23.kitchen': {x: 770, y: 450, floor: 1}
    };

    var problemCoordinates = new Array();
    var cnt = 0;
    var radius = 9;

    var canvas1;
    var context1;

    var canvas2;
    var context2;

    var humanImg;
    var machineImgs = {};
    var lightImg;
    var bulbImg;

    var machine1 = {'x': 520, 'y': 500};
    var machine2 = {'x': 480, 'y': 270};
    var machine3 = {'x': 740, 'y': 380};
    
    var sources = {
        mrc: '/static/img/mrc/mrc.png',
        cold: '/static/img/others/char-cold.png',
        sunglass: '/static/img/others/char-sunglass.png',
        headphone: '/static/img/others/char-headphone.png',
        sweat: '/static/img/others/char-sweat.png',
        transportation: '/static/img/transportation/empty.png'
    };
    var sourcesLength = 6;


    function checkProblem() {
        $.ajax({
            type: "GET",
            url: "./get_problem?device_id=1",
            dataType: 'json',
            success: function(data) {
                //if(data['data'].length > 0) {
                    /*
                    for(var i = 0; i < data['data'].length; i++) {
                        var location = data['data'][i]['location'];
                        if(location in roomCoordinates) {
                            problemCoordinates[i] = roomCoordinates[location];
                        }
                    }
                    */
                    var data = {};
                    data['data'] = [{location: 'B23.104', description: 'Could you turn off the light in Room 104? I will give you candy!'},
                        {location: 'B23.214'},
                        {location: 'B23.109'}];
                    for(var i = 0; i < data['data'].length; i++) {
                        var location = data['data'][i]['location'];
                        if(location in roomCoordinates) {
                            problemCoordinates[i] = roomCoordinates[location];
                        }
                    }
                    setInterval(blink, 1000);

                    $('.modal-title').html("Save Energy, Get Rewards !");
                    $('.modal-body').html(data['data'][0]['description']);
                    $('#myModal').modal('show');
                //}
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                var data = {};
                data['data'] = [{location: 'B23.104', description: 'Could you turn off the light in Room 104?'},
                    {location: 'B23.214'},
                    {location: 'B23.109'}];
                for(var i = 0; i < data['data'].length; i++) {
                    var location = data['data'][i]['location'];
                    if(location in roomCoordinates) {
                        problemCoordinates[i] = roomCoordinates[location];
                    }
                }
                setInterval(blink, 1000);

                $('.modal-title').html("Save Energy, Get Rewards !");
                $('.modal-body').html(data['data'][0]['description']);
                $('#myModal').modal('show');
            }
        });
    }

    function getSensorData() {
        $.ajax({
            type: "GET",
            url: "./sensor_data",
            dataType: 'json',
            success: function(data) {
                
                var motionData = data['data']['motion'];
                var lightData = data['data']['light'];

                for(var i = 0; i < motionData.length; i++) {
                    if(parseInt(motionData[i]['value']) > 800) {
                        if(motionData[i]['location'] in roomCoordinates) {
                            var coordinate = roomCoordinates[motionData[i]['location']];
                            drawHuman(coordinate.x-20, coordinate.y-20, coordinate.floor);
                        }
                    }
                }

                for(var i = 0; i < lightData.length; i++) {
                    if(lightData[i]['location'] in roomCoordinates) {
                        var coordinate = roomCoordinates[lightData[i]['location']];
                        if(parseInt(lightData[i]['value']) > 900) {    
                            drawLight(coordinate.x, coordinate.y, coordinate.floor);
                        } else {
                            drawBulb(coordinate.x, coordinate.y, coordinate.floor);
                        }
                    }

                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
            }
        });
    }


    function drawRedSpot(problem) {
        var context;
        if(problem.floor == 1) {
            context = context1;
        } else {
            context = context2;
        }

        context.beginPath();
        context.arc(problem.x, problem.y, radius, 0, 2 * Math.PI, false);
        context.fillStyle = 'red';
        context.fill();
        context.closePath();
    }

    function blink() {
        var problemCoordinate = problemCoordinates[0];
        var context;
        if(problemCoordinate.floor == 1) {
            context = context1;
        } else {
            context = context2;
        }

        if(cnt % 2) {
            context.beginPath();
            context.clearRect(problemCoordinate.x - radius - 1, problemCoordinate.y - radius - 1, radius * 2 + 2, radius * 2 + 2);
            context.closePath();

            cnt = 0;
        } else {
            context.beginPath();
            context.arc(problemCoordinate.x, problemCoordinate.y, radius, 0, 2 * Math.PI, false);
            context.fillStyle = 'red';
            context.fill();
            context.closePath();

            cnt = 1;
        }

        for(var i = 1; i < problemCoordinates.length; i++) {
            drawRedSpot(problemCoordinates[i]);
        }
        
    }

    function drawHuman(x, y, floor) {
        if(floor == 1) {
            context1.drawImage(humanImg, x, y, humanImg.width * 0.8, humanImg.height * 0.8);
        } else {
            context2.drawImage(humanImg, x, y, humanImg.width * 0.8, humanImg.height * 0.8);
        }
    }

    function drawLight(x, y, floor) {
        if(floor == 1) {
            context1.drawImage(lightImg, x-5, y-5, lightImg.width * 1, lightImg.height * 1);
        } else {
            context2.drawImage(lightImg, x-5, y-5, lightImg.width * 1, lightImg.height * 1);
        }
    }

    function drawBulb(x, y, floor) {
        if(floor == 1) {
            context1.drawImage(bulbImg, x, y, bulbImg.width * 0.3, bulbImg.height * 0.3);
        } else {
            context2.drawImage(bulbImg, x, y, bulbImg.width * 0.3, bulbImg.height * 0.3);
        }
    }


    function drawMachines() {
        machineImgs['loadedImgNum'] = 0;
        for(var source in sources) {
            machineImgs[source] = new Image();
            machineImgs[source].onload = function() {
                machineImgs['loadedImgNum']++;
                if(machineImgs['loadedImgNum'] == sourcesLength) {
                    context1.drawImage(machineImgs.mrc, machine1.x, machine1.y, machineImgs.mrc.width * 0.15, machineImgs.mrc.height * 0.15);
                    context1.drawImage(machineImgs.mrc, machine2.x, machine2.y, machineImgs.mrc.width * 0.15, machineImgs.mrc.height * 0.15);
                    context1.drawImage(machineImgs.mrc, machine3.x, machine3.y, machineImgs.mrc.width * 0.15, machineImgs.mrc.height * 0.15);
                        /*context1.drawImage(machine1.cold, 0, 0, 50, 50);
                        context1.drawImage(machine1.sunglass, 0, 0, 50, 50);
                        context1.drawImage(machine1.headphone, 0, 0, 50, 50);
                        context1.drawImage(machine1.sweat, 0, 0, 50, 50);
                        context1.drawImage(machine1.transportation, 0, 0, 50, 50);
                        */
                }
            };
            machineImgs[source].src = sources[source];
        }
    
    }

    $(function() {

        canvas1 = document.getElementById('canvas1');
        context1 = canvas1.getContext('2d');

        canvas2 = document.getElementById('canvas2');
        context2 = canvas2.getContext('2d');

        humanImg = new Image();
        humanImg.src = '/static/img/human.png';

        lightImg = new Image();
        lightImg.src = '/static/img/light.png';

        bulbImg = new Image();
        bulbImg.src = '/static/img/bulb.png';


        $("#doit").click(function() {
            $.get("./feedback_insert?application_id=7&feedback_type=positive&feedback_description=Thank you");
        });
        
        

        
        //var counter = setInterval(checkProblem, 1000);


        
        /*var machines = new Array({'loadedImgNum': 0, 'x': 520, 'y': 500},
                {'loadedImgNum': 0, 'x': 480, 'y': 270}, 
                {'loadedImgNum': 0, 'x': 740, 'y': 380});*/
        
        


        

        var floor1Img = new Image();
        floor1Img.onload = function() {
            context1.drawImage(floor1Img, 0, 0, 1007, 646);
            drawMachines();
            checkProblem();
            getSensorData();
            //problemCoordinate = {x: 250, y: 570, floor:1};
            //setInterval(blink, 1000);
        };
        floor1Img.src = '/static/img/floor1.png';


        var floor2Img = new Image();
        floor2Img.onload = function() {
            context2.drawImage(floor2Img, 0, 0, 1007, 646);
        };
        floor2Img.src = '/static/img/floor2.png';

    });
</script>


</body>
</html>
