<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SweetFeedback in NASA 23 building</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style2.css" rel="stylesheet">

    <!--<link href="assets/css/docs.css" rel="stylesheet">-->
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/ico/favicon.png">
    <style type="text/css">
        #footer {
            height: 20px;
        }
        body {
            height:100%;
            background-color: #f1f1f1;
            background-image: url('/static/img/others/retina_dust.png');
            background-repeat:repeat repeat;
            font-size: 16px;     
            padding-top: 20px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
        #wrap {
            min-height: 100%;
            height: auto !important;
            height: 100%;
            /* Negative indent footer by its height */
            margin: 0 auto -20px;
            /* Pad bottom by footer height */
            padding: 0 0 20px;
        }
    </style>
</head>
<body>
<div id="wrap" style="margin-left:100px;margin-right:100px;">
    <div class="navbar">
        <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SweetFeedback</a>
            <div class="nav-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Save Energy</a></li>
                    <li><a href="/questionnaire">Questionnaire</a></li>
                    <li><a href="/transportation">Transportation</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li><img src="/static/img/cmu-sv-logo.png"></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">

    <!-- Main component for a primary marketing message or call to action -->
        
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#1F">1F</a></li>
            <li><a href="#2F">2F</a></li>
        </ul>
         
        <div class="tab-content">
            <div class="tab-pane active" id="1F">
                <div id="map1">
                    <img src="/static/img/floor1.png" width="1007" height="646" style="position: absolute; z-index: 100;">
                    <img id="mrc1" src="/static/img/mrc/mrc.png" width="43" height="56" style="position: absolute; z-index: 200; margin-top: 500px; margin-left: 530px;">
                </div>

                
            </div>

            <div class="tab-pane" id="2F">
                <div id="map2">
                    <img src="/static/img/floor2.png" width="1007" height="646" style="position: absolute; z-index: 100;">
                </div>
            </div>
        </div>

    </div> <!-- /container -->

    <div id="footer">
        <div class="container" style="max-width:600px;">
            <p class="text-muted credit" >Sweet Building Greeter is made by Louis Yu, Ken Liang, and Ted Selker</p>
        </div>
    </div> <!-- /footer -->


</div> <!-- /wrap -->

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<!--<script src="assets/js/jquery.cookie.js"></script>-->

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA3ieESIwbYV6OZC14fivVKoOSYvApTlh0&sensor=true&libraries=geometry"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>

<script>
    var roomCoordinates = {
        'B23.104': {x: 380, y: 540, floor: 1},
        'B23.105B': {x: 350, y: 560, floor: 1},
        'B23.107': {x: 250, y: 570, floor: 1},
        'B23.109': {x: 180, y: 530, floor: 1},
        'B23.110': {x: 180, y: 450, floor: 1},
        'B23.114': {x: 160, y: 300, floor: 1}, 
        'B23.115': {x: 200, y: 300, floor: 1}, 
        'B23.116': {x: 250, y: 300, floor: 1},
        'B23.120': {x: 730, y: 560, floor: 1},
        'B23.122': {x: 690, y: 560, floor: 1},
        'B23.123': {x: 380, y: 470, floor: 1},
        'B23.124': {x: 650, y: 560, floor: 1},
        'B23.126': {x: 600, y: 560, floor: 1},
        'B23.129A': {x: 540, y: 340, floor: 1},
        'B23.210': {x: 220, y: 570, floor: 2},
        'B23.211': {x: 150, y: 400, floor: 2},
        'B23.212': {x: 150, y: 550, floor: 2},
        'B23.213': {x: 880, y: 550, floor: 2},
        'B23.214': {x: 890, y: 500, floor: 2},
        'B23.214B': {x: 880, y: 460, floor: 2},
        'B23.215': {x: 885, y: 370, floor: 2},
        'B23.215B': {x: 890, y: 410, floor: 2},
        'B23.216': {x: 770, y: 540, floor: 2},
        'B23.217A': {x: 770, y: 370, floor: 2},
        'B23.217B': {x: 770, y: 410, floor: 2},
        'B23.228': {x: 550, y: 180, floor: 2},
        'B23.229': {},
        'B23.230': {x: 450, y: 180, floor: 2},
        'B23.kitchen': {x: 770, y: 450, floor: 1}
    };

    var machine1 = {'x': 520, 'y': 500};
    var machine2 = {'x': 480, 'y': 270};
    var machine3 = {'x': 740, 'y': 380};
    
    var sources = {
        mrc: '/static/img/mrc/mrc.png',
        cold: '/static/img/others/char-cold.png',
        sunglass: '/static/img/others/char-sunglass.png',
        headphone: '/static/img/others/char-headphone.png',
        sweat: '/static/img/others/char-sweat.png',
        transportation: '/static/img/transportation/empty.png'
    };
    var sourcesLength = 6;
    var problemCoordinates = [];


    function checkProblem() {
        $.ajax({
            type: "GET",
            url: "./get_problem?device_id=1",
            dataType: 'json',
            success: function(data) {
                if(data['data'].length > 0) {

                    for(var i = 0; i < data['data'].length; i++) {
                        var location = data['data'][i]['location'];
                        if(location in roomCoordinates) {
                            problemCoordinates[i] = roomCoordinates[location];
                        }
                    }

                    
                    /*
                    var data = {};
                    data['data'] = [{location: 'B23.104', description: 'Could you turn off the light in Room 104? I will give you candy!'},
                        {location: 'B23.214'},
                        {location: 'B23.109'}];

                    for(var i = 0; i < data['data'].length; i++) {
                        var location = data['data'][i]['location'];
                        if(location in roomCoordinates) {
                            problemCoordinates[i] = roomCoordinates[location];
                        }
                    }
                    setInterval(blink, 1000);

                    */
                    setInterval(blink, 1000);

                    $("#mrc1").popover({
                        html: true,
                        placement: 'top',
                        title: 'Save Energy, Get Rewards !',
                        trigger: 'manual',
                        content: data['data'][0]['description'] + '<br><button id="close-me" type="button" class="btn btn-primary">OK</button> <button id="close-you" type="button" class="btn btn-danger">Close</button>'
                    });

                    $("#mrc1").parent().delegate('button#close-me', 'click', function() {
                        $("#mrc1").popover('hide');
                        $.ajax({
                            type: "GET",
                            url: "./reply",
                            dataType: 'json',
                            success: function(data) {
                            },
                            error: function(XMLHttpRequest, textStatus, errorThrown) {
                            }
                        });
                    });
                    $("#mrc1").parent().delegate('button#close-you', 'click', function() {
                        $("#mrc1").popover('hide');
                    });
                    $("#mrc1").popover('show');

                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                var data = {};
                data['data'] = [{location: 'B23.104', description: 'Could you turn off the light in Room 104?'},

                    {location: 'B23.214', description: "Turn off the light!"},
                    {location: 'B23.109', description: "Light is not closing"},
                    {location: 'B23.129A', description: "Help us to turn off the light"}];
                for(var i = 0; i < data['data'].length; i++) {
                    var location = data['data'][i]['location'];
                    var description = data['data'][i]['description'];
                    if(location in roomCoordinates) {
                        problemCoordinates[i] = roomCoordinates[location];
                        plotProblem(i, problemCoordinates[i].x, problemCoordinates[i].y, problemCoordinates[i].floor, description);
                    }
                }

                setInterval(blink, 1000);

                $("#mrc1").popover({
                    html: true,
                    placement: 'top',
                    title: 'Save Energy, Get Rewards !',
                    trigger: 'manual',
                    content: data['data'][0]['description'] + '<br><button id="close-me" type="button" class="btn btn-primary">OK</button> <button id="close-you" type="button" class="btn btn-danger">Close</button>'
                });

                $("#mrc1").parent().delegate('button#close-me', 'click', function() {
                    $("#mrc1").popover('hide');
                    $.ajax({
                        type: "GET",
                        url: "./reply",
                        dataType: 'json',
                        success: function(data) {
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                        }
                    });
                });
                $("#mrc1").parent().delegate('button#close-you', 'click', function() {
                    $("#mrc1").popover('hide');
                });
                $("#mrc1").popover('show');

            }
        });
    }

    function plotProblem(id, x, y, floor, description) {
        console.log("plot problem");
        var str = ' <img id="problem' + id + '" src="/static/img/red-bullet.png" width="40" height="40"' +
            'style="position: absolute; z-index: 700; '+
            'margin-left: ' + x + 'px; ' +
            'margin-top: ' + y + 'px;'+
            '">';

        if(floor == 1) {
            $('#map1').append(str);
        } else if(floor == 2) {
            $('#map2').append(str);
        }

        // set up tooltip
        $('#problem' + id).tooltip({
            title: description
        });

        $('#problem' + id).click(function() {
            $("#mrc1").popover('destroy');
            $("#mrc1").popover({
                html: true,
                placement: 'top',
                title: 'Save Energy, Get Rewards !',
                trigger: 'manual',
                content: description + '<br><button id="close-me" type="button" class="btn btn-primary">OK</button> <button id="close-you" type="button" class="btn btn-danger">Close</button>'
            });

            $("#mrc1").popover('show');
        });
    }

    function plotHuman(id, x, y, floor) {
        console.log("plot human");
        var str = ' <img id="human' + id + '" src="/static/img/human.png" width="40" height="40"' +
            'style="position: absolute; z-index: 500; '+
            'margin-left: ' + x + 'px; ' +
            'margin-top: ' + y + 'px;'+
            '">';

        if(floor == 1) {
            $('#map1').append(str);
        } else if(floor == 2) {
            $('#map2').append(str);
        }
    }

    function plotLight(id, x, y, floor) {
        console.log("plot light");
        var str = ' <img id="light' + id + '" src="/static/img/light.png" width="40" height="40"' +
            'style="position: absolute; z-index: 500; '+
            'margin-left: ' + (x-10) + 'px; ' +
            'margin-top: ' + (y-10) + 'px;'+
            '">';

        if(floor == 1) {
            $('#map1').append(str);
        } else if(floor == 2) {
            $('#map2').append(str);
        }
    }

    function plotBulb(id, x, y, floor) {
        console.log("plot bulb");
        var str = ' <img id="bulb' + id + '" src="/static/img/bulb.png" width="40" height="40"' +
            'style="position: absolute; z-index: 500; '+
            'margin-left: ' + (x-10) + 'px; ' +
            'margin-top: ' + (y-10) + 'px;'+
            '">';

        if(floor == 1) {
            $('#map1').append(str);
        } else if(floor == 2) {
            $('#map2').append(str);
        }
    }

    function getSensorData() {
        $.ajax({
            type: "GET",
            url: "./sensor_data",
            dataType: 'json',
            success: function(data) {
                
                var motionData = data['data']['motion'];
                var lightData = data['data']['light'];

                for(var i = 0; i < motionData.length; i++) {
                    if(parseInt(motionData[i]['value']) > 800) {
                        if(motionData[i]['location'] in roomCoordinates) {
                            var coordinate = roomCoordinates[motionData[i]['location']];
                            plotHuman(i, coordinate.x-20, coordinate.y-20, coordinate.floor);
                        }
                    }
                }

                for(var i = 0; i < lightData.length; i++) {
                    if(lightData[i]['location'] in roomCoordinates) {
                        var coordinate = roomCoordinates[lightData[i]['location']];
                        if(parseInt(lightData[i]['value']) > 900) {    
                            plotLight(i, coordinate.x, coordinate.y, coordinate.floor);
                        } else {
                            plotBulb(i, coordinate.x, coordinate.y, coordinate.floor);
                        }
                    }
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
            }
        });
    }


    var cnt = 0;

    function blink() {
        if(cnt == 0) {
            $("#problem0").show();
            cnt = 1;
        } else {
            $("#problem0").hide();
            cnt = 0;
        }
    }


    $(function() {
        checkProblem();
        getSensorData();

        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
    });
</script>


</body>
</html>
