<html>
<haed>
    <link href="/static/css/style_quiz.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style2.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
      #footer {
        height: 20px;
      }
      body {
        height:100%;
        background-color: #f1f1f1;
        background-image: url('/static/img/others/retina_dust.png');
        background-repeat:repeat repeat;
        font-size: 16px;     
        padding-top: 20px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by its height */
        margin: 0 auto -20px;
        /* Pad bottom by footer height */
        padding: 0 0 20px;
      }
    </style>
</head>
<body>
<div id="wrap" style="margin-left:100px;margin-right:100px;">
    <div class="navbar">
        <div class="container">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SweetFeedback</a>
            <div class="nav-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Save Energy</a></li>
                    <li class="active"><a href="/questionnaire">Questionnaire</a></li>
                    <li><a href="/transportation">Transportation</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li><img src="/static/img/cmu-sv-logo.png"></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">
        <h2>CMUSV Questionaire
            <a class="btn btn-large btn-primary" href="/questionnaire">Try Again! &raquo;</a>
        </h2>
        <p>Answer All Three Questions and Gey Candy!</p>
        <p>If you answer correctly more than twice, you get candies!</p>
        <table class="question">
            {% for i in q: %}
                <tr id="q{{q.index(i)}}">
                    <td class="quiz" colspan="4">
                        <h4>{{i.problem_desc}}</h4>
                        <div style="color:green" id="cap_{{q.index(i)}}" class="caption">{{i.error_message}}</div>
                    </td>
                    <tr>
                        <td class="tf" question="{{q.index(i)}}" val="1">{{i.option_1}}</td>
                        <td class="tf" question="{{q.index(i)}}" val="2">{{i.option_2}}</td>
                        <td class="tf" question="{{q.index(i)}}" val="3">{{i.option_3}}</td>
                        <td class="tf" question="{{q.index(i)}}" val="4">{{i.option_4}}</td>
                        <input id="a{{q.index(i)}}"type="hidden" value="{{i.answer}}"/>
                    </tr>

                </tr>
            {% endfor %}
        </table>
        <div id="result">
            <div id="score">Your score is...
                <div id="score_num"></div>
                <div id="comment"></div>
            </div>
        </div>
    </div> <!-- /container -->

    <div id="footer">
        <div class="container" style="max-width:600px;">
            <p class="text-muted credit" >Sweet Building Greeter is made by Louis Yu, Ken Liang, and Ted Selker</p>
        </div>
    </div> <!-- /footer -->
</div> <!-- /wrap -->

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script>
        $(function(){
            var answered = ["0","0","0"];
            var correct = 0;
            var count = 0;
            var standard = 80;
            var comment = new Array("", "", "OK...","Good!","Great!", "Excellent!!");
            var question_done = 0;
            
            var count_down = 300;
            var counter = setInterval(timer, 1000);
            function timer(){
                count_down = count_down - 1;
                if (count_down <= 0){
                    clearInterval(counter);
                    location.reload();
                    return;
                }
            }
            function resetTimer(){ 
                count_down = 300; 
            }

            $("#threshold").text(standard);
            $(".caption").hide(); 
            $(".tf").click(function() {
                resetTimer();
                q_num = parseInt($(this).attr("question"));
                // if not answered yet
                if (answered[q_num] == 0) {
                    question_done++;
                    ans = $(this).attr("val");
                    correct_answer = $("#a" + q_num).val();
                    if (ans == correct_answer) {
                        $.get("./feedback_insert?application_id=9&feedback_type=saying&feedback_description=right answer");
                        $(this).animate({backgroundColor:"#CCFFCC"}, 1000);
                        correct++;
                    } 
                    else {
                        //not correct, blue
                        $.get("./feedback_insert?application_id=10&feedback_type=saying&feedback_description=wrong answer");
                        $(this).animate({backgroundColor:"#FF8F8F"}, 1000);
                    }
                    answered[q_num] = 1;
                    score = (100*correct/3);
                    if(score >= standard && question_done == 3){
                        $.get("./feedback_insert?application_id=9&feedback_type=positive&feedback_description=well done in questionaire");
                    }
                    // show the caption for the question
                    $("#cap_"+ q_num).fadeIn();
                    $('#score_num').html(score.toFixed(1) + "%");
                    $('#comment').html(comment[Math.floor(correct/3*5)]);
                }
            });
        });

    </script>
</body>
</html>
