<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SweetFeedback in NASA 23 building</title>
    <style type="text/css">
    	.header-row td { height: 50px; vertical-align: bottom; }
    </style>
</head>
<body>
<div id="wrap">
	<div id="description">
		<h2>
			Fill out --- Sweet Building Greeter Questionnaire --- Get reward
		</h2>
	</div>

	<table>
		<tr><td>1. What got your attention?</td></tr>
		<tr>
			<td><input type="radio" name="group1" value="1"> Screen saver</td>
			<td><input type="radio" name="group1" value="2"> The voice</td>
			<td><input type="radio" name="group1" value="3"> Map diagram</td>
			<td><input type="radio" name="group1" value="4"> Gumball machine</td>
			<td><input type="radio" name="group1" value="5"> Candy</td>
			<td><input type="radio" name="group1" value="6"> Sign</td>
		</tr>

		<tr class="header-row"><td>2. Least useful feature?</td></tr>
		<tr>
			<td><input type="radio" name="group2" value="1"> Screen saver</td>
			<td><input type="radio" name="group2" value="2"> The voice</td>
			<td><input type="radio" name="group2" value="3"> Map diagram</td>
			<td><input type="radio" name="group2" value="4"> Gumball machine</td>
			<td><input type="radio" name="group2" value="5"> Candy</td>
			<td><input type="radio" name="group2" value="6"> Sign</td>
		</tr>

		<tr class="header-row"><td>3. The screen saver:</td></tr>
		<tr>
			<td><input type="radio" name="group3" value="1"> Made me think</td>
			<td><input type="radio" name="group3" value="2"> Was attractive</td>
			<td><input type="radio" name="group3" value="3"> Didn’t matter</td>
			<td><input type="radio" name="group3" value="4"> Was distracting</td>
			<td><input type="radio" name="group3" value="5"> Was really annoying</td>
		</tr>

		<tr class="header-row"><td>4. Did you like the voice that spoke to you?</td></tr>
		<tr>
			<td><input type="radio" name="group4" value="1"> Made me think</td>
			<td><input type="radio" name="group4" value="2"> Was attractive</td>
			<td><input type="radio" name="group4" value="3"> Didn’t matter</td>
			<td><input type="radio" name="group4" value="4"> Was distracting</td>
			<td><input type="radio" name="group4" value="5"> Was really annoying</td>
		</tr>

		<tr class="header-row"><td>5. Did you like the map diagram?</td></tr>
		<tr>
			<td><input type="radio" name="group5" value="1"> Great</td>
			<td><input type="radio" name="group5" value="2"> Good</td>
			<td><input type="radio" name="group5" value="3"> Neutral</td>
			<td><input type="radio" name="group5" value="4"> Distracting</td>
			<td><input type="radio" name="group5" value="5"> Annoying</td>
		</tr>

		<tr class="header-row"><td>6. Did you enjoy the candy? </td></tr>
		<tr>
			<td><input type="radio" name="group6" value="1"> Great</td>
			<td><input type="radio" name="group6" value="2"> Good</td>
			<td><input type="radio" name="group6" value="3"> Neutral</td>
			<td><input type="radio" name="group6" value="4"> Distracting</td>
			<td><input type="radio" name="group6" value="5"> Annoying</td>
		</tr>
		
		<tr class="header-row"><td>7. Does Sweet Buidling Greeter make you want to save energy?</td></tr>
		<tr>
			<td><input type="radio" name="group7" value="1">Absolutely</td>
			<td><input type="radio" name="group7" value="2">Kind of</td>
			<td><input type="radio" name="group7" value="3">I will not change</td>
			<td><input type="radio" name="group7" value="4">Is it in the way</td>
			<td><input type="radio" name="group7" value="5">Makes me want to use energy more</td>
		</tr>

		<tr class="header-row"><td>8. Why did you use the Sweet Building Greeter today? </td></tr>
		<tr>
			<td><input type="radio" name="group8" value="1">I wanted candy</td>
			<td><input type="radio" name="group8" value="2">Just passing by</td>
			<td><input type="radio" name="group8" value="3">The machine spoke to me</td>
		</tr>

		<tr class="header-row"><td>9. You can sign up to get rewards for saving energy in your commute</td></tr>
		<tr>
			<td><input type="radio" name="group9" value="1">I don’t want to be bothered</td>
			<td><input type="radio" name="group9" value="2">I don’t want to share data</td>
			<td><input type="radio" name="group9" value="3">I like this idea</td>
			<td><input type="radio" name="group9" value="4">I would add the app to my phone</td>
		</tr>

		<tr class="header-row"><td>10. Reward I would like</td></tr>
		<tr>
			<td><input type="radio" name="group10" value="1">Scoreboard</td>
			<td><input type="radio" name="group10" value="2">Candy</td>
			<td><input type="radio" name="group10" value="3">Peanuts</td>
			<td><input type="radio" name="group10" value="4">Bracelet beads</td>
		</tr>

		<tr class="header-row"><td>11. Thoughts about Sweet Building Greeter:</td></tr>
		<tr><td><textarea cols="40" rows="5" id="feeling"></textarea></td></tr>

	</table>
	<div>
		<h4 id="error_message" style="color: #FF0000;"></h4>
		<input id="submit" type="submit" value="Submit">
	</div>

</div>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<script src="/static/js/survey.js"></script>


</body>
</html>