<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SweetFeedback in NASA 23 building</title>
    <style type="text/css">
    	.header-row td { height: 50px; vertical-align: bottom; }
    </style>
</head>
<body>
<div id="wrap">
	<div id="description">
		<h2>
			The purpose of this survey is to find out how you feel and what you experienced with the Sweet Building Greeter.<br>
			Thank you for taking the survey.<br>
		</h2>
	</div>

	<table>
		<tr><td>How many times have you used Sweet Building Greeter in this week?</td></tr>
		<tr><td><input type="radio" name="group1" value="1"> 1</td></tr>
		<tr><td><input type="radio" name="group1" value="2"> 2</td></tr>
		<tr><td><input type="radio" name="group1" value="3"> 3</td></tr>
		<tr><td><input type="radio" name="group1" value="4"> 4</td></tr>
		<tr><td><input type="radio" name="group1" value="5"> 5</td></tr>

		<tr class="header-row"><td>Why did you use the Sweet Building Greeter today?</td></tr>
		<tr><td><input type="radio" name="group2" value="1"> I wanted candy</td></tr>
		<tr><td><input type="radio" name="group2" value="2"> Just passing by</td></tr>
		<tr><td><input type="radio" name="group2" value="3"> The machine spoke to me</td></tr>

		<tr class="header-row"><td>Which feature of the Sweet Building Greeter got your attention?</td></tr>
		<tr><td><input type="checkbox" name="group3" value="1"> Screensaver</td></tr>
		<tr><td><input type="checkbox" name="group3" value="2"> The voice that spoke to me</td></tr>
		<tr><td><input type="checkbox" name="group3" value="3"> Map diagram</td></tr>
		<tr><td><input type="checkbox" name="group3" value="4"> Dispenser</td></tr>
		<tr><td><input type="checkbox" name="group3" value="5"> Candy</td></tr>
		<tr><td><input type="checkbox" name="group3" value="6"> Blue stand</td></tr>

		<tr class="header-row"><td>Which feature is boring?</td></tr>
		<tr><td><input type="checkbox" name="group4" value="1"> Screensaver</td></tr>
		<tr><td><input type="checkbox" name="group4" value="2"> The voice that spoke to me</td></tr>
		<tr><td><input type="checkbox" name="group4" value="3"> Map diagram</td></tr>
		<tr><td><input type="checkbox" name="group4" value="4"> Dispenser</td></tr>
		<tr><td><input type="checkbox" name="group4" value="5"> Candy</td></tr>
		<tr><td><input type="checkbox" name="group3" value="6"> Blue stand</td></tr>

		<tr class="header-row"><td>Did you like the screensaver? (6 being the best, 1 being the worst) </td></tr>
		<tr><td><input type="radio" name="group5" value="0"> I didn't notice it</td></tr>
		<tr><td><input type="radio" name="group5" value="1"> 1</td></tr>
		<tr><td><input type="radio" name="group5" value="2"> 2</td></tr>
		<tr><td><input type="radio" name="group5" value="3"> 3</td></tr>
		<tr><td><input type="radio" name="group5" value="4"> 4</td></tr>
		<tr><td><input type="radio" name="group5" value="5"> 5</td></tr>
		<tr><td><input type="radio" name="group5" value="6"> 6</td></tr>

		<tr class="header-row"><td>Did you like the voice that spoke to you? (6 being the best, 1 being the worst) </td></tr>
		<tr><td><input type="radio" name="group6" value="0"> I didn't hear the voice</td></tr>
		<tr><td><input type="radio" name="group6" value="1"> 1</td></tr>
		<tr><td><input type="radio" name="group6" value="2"> 2</td></tr>
		<tr><td><input type="radio" name="group6" value="3"> 3</td></tr>
		<tr><td><input type="radio" name="group6" value="4"> 4</td></tr>
		<tr><td><input type="radio" name="group6" value="5"> 5</td></tr>
		<tr><td><input type="radio" name="group6" value="6"> 6</td></tr>

		<tr class="header-row"><td>Did you like the map diagram? (6 being the best, 1 being the worst) </td></tr>
		<tr><td><input type="radio" name="group7" value="1"> 1</td></tr>
		<tr><td><input type="radio" name="group7" value="2"> 2</td></tr>
		<tr><td><input type="radio" name="group7" value="3"> 3</td></tr>
		<tr><td><input type="radio" name="group7" value="4"> 4</td></tr>
		<tr><td><input type="radio" name="group7" value="5"> 5</td></tr>
		<tr><td><input type="radio" name="group7" value="6"> 6</td></tr>

		<tr class="header-row"><td>Did you like the dispenser? (6 being the best, 1 being the worst) </td></tr>
		<tr><td><input type="radio" name="group8" value="1"> 1</td></tr>
		<tr><td><input type="radio" name="group8" value="2"> 2</td></tr>
		<tr><td><input type="radio" name="group8" value="3"> 3</td></tr>
		<tr><td><input type="radio" name="group8" value="4"> 4</td></tr>
		<tr><td><input type="radio" name="group8" value="5"> 5</td></tr>
		<tr><td><input type="radio" name="group8" value="6"> 6</td></tr>

		<tr class="header-row"><td>Did you enjoy the candy? (6 being the best, 1 being the worst) </td></tr>
		<tr><td><input type="radio" name="group9" value="1"> 1</td></tr>
		<tr><td><input type="radio" name="group9" value="2"> 2</td></tr>
		<tr><td><input type="radio" name="group9" value="3"> 3</td></tr>
		<tr><td><input type="radio" name="group9" value="4"> 4</td></tr>
		<tr><td><input type="radio" name="group9" value="5"> 5</td></tr>
		<tr><td><input type="radio" name="group9" value="6"> 6</td></tr>

		<tr class="header-row"><td>Are you more willing to save energy with the Sweet Building Greeter? (6 being the best, 1 being the worst) </td></tr>
		<tr><td><input type="radio" name="group10" value="0"> What's the connection between them?</td></tr>
		<tr><td><input type="radio" name="group10" value="1"> 1</td></tr>
		<tr><td><input type="radio" name="group10" value="2"> 2</td></tr>
		<tr><td><input type="radio" name="group10" value="3"> 3</td></tr>
		<tr><td><input type="radio" name="group10" value="4"> 4</td></tr>
		<tr><td><input type="radio" name="group10" value="5"> 5</td></tr>
		<tr><td><input type="radio" name="group10" value="6"> 6</td></tr>

		<tr class="header-row"><td>What are your feelings about Sweet Building Greeter?</td></tr>
		<tr><td><textarea cols="40" rows="5" id="feeling"></textarea></td></tr>

	</table>
	<input id="submit" type="submit" value="Submit">

</div>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/jquery-ui.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>

<script src="/static/js/survey.js"></script>


</body>
</html>